<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {%- include 'partials/header.njk' -%}

    {{- content | safe -}}

    <script src="/scripts/devolutions.js" defer></script>
  </body>
</html>