---
layout: 'layouts/base.njk'
---
{%- macro nav(item, index) -%}
  {%- if item.filePathStem.startsWith(navigationTree) and item.filePathStem !== [navigationTree, "index"] | join -%}
    <div>
      {%- if item.hasData -%}
        <a class="nav-item level-{{ index }}" href="{{ item.url }}">{{- item.title -}}</a>
      {%- endif -%}
      {%- if item.children.length > 0 -%}
        {%- if not item.hasData -%}
          <button class="nav-item level-{{ index }}" href="{{ item.url }}">{{- item.title -}}</button>
        {%- endif -%}
        <div>
          {%- for subItem in item.children -%}
            {{- nav(subItem, loop.index + index) -}}
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  {%- else -%}
    {%- if item.children.length > 0 -%}
      {%- for subItem in item.children -%}
        {{- nav(subItem, 1) -}}
      {%- endfor -%}
    {%- endif -%}
  {%- endif -%}
{%- endmacro -%}

{%- if navigationTree -%}
  <div class="navigation">
    <nav>
      {%- for item in collections.eleventyNavigationTree -%}
        {{- nav(item, loop.index) -}}
      {%- endfor -%}
    </nav>
  </div>
{%- endif -%}

<main class="markdown">
  <div>
    <h1>{{- title -}}</h1>
    
  <div>

  {{- content | safe -}}
</main>