---
layout: 'layouts/base.njk'
---
{% macro nav(item) %}
  {% if item.filePathStem.startsWith(navigationTree) %}
    {# {% debug item %} #}
    <div>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </div>
  {% endif %}

  {% if item.children.length > 0 %}
    {% for subItem in item.children %}
      {{ nav(subItem) }}
    {% endfor %}
  {% endif %}
{% endmacro %}


{% if navigationTree %}
  <div>
    <nav>
      {% for item in collections.eleventyNavigationTree %}
        {{ nav(item) }}
      {% endfor %}
    </nav>
  </div>
{% endif %}

<main class="markdown">
  <h1>{{ title }}</h1>

  {{ content | safe }}
</main>