.bg-support {
  background-image: url(https://webdevolutions.azureedge.net/web/common/images/background/support.jpg);
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.dwd-header-media {
  position: relative;
  height: 320px;
  overflow: hidden;
  transition: height .25s ease;

  @media (max-width: 1024px) {
    height: 200px;
  }

  #algolia-autocomplete {
    --aa-search-input-height: 70px;
    margin-left: auto;
    margin-right: auto;
    max-width: 645px;

    svg {
      height: 32px;
      width: 32px;
    }

    .aa-DetachedSearchButton {
      font-size: 18px;
    }

    .aa-DetachedSearchButtonPlaceholder {
      margin-left: 10px;
    }
  }

  .dwd-photo-parallax {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% + 50px);
    margin-top: -24px;
  }

  .dwd-header-media-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
  }
}