.markdown {
  padding: 16px;

  * {
    margin-bottom: 0;

    + * {
      margin-top: 16px;
    }
  }

  .title {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: flex;
    flex: 1;
    margin: -16px -16px 16px;
    padding: 8px 16px;
    width: calc(100% + 32px);

    h1 {
      color: #0068c3;
    }

    a {
      align-items: center;
      display: inline-flex;
      margin-top: 0;
      margin-left: auto;
    }
  }

  .video {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    
    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;

      iframe {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  .snippet {
    align-items: center;
    border: 1px solid #999999;
    display: flex;
    padding: 16px;

    svg {
      height: 48px;
      margin-right: 16px;
      min-width: 48px;
      width: 48px;
    }

    > div {
      margin-top: 0;

      > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  a {
    color: #0068c3;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    border: 1px solid #999999;
    padding: 16px;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    padding-left: 28px;

    li + li {
      margin-top: 8px;
    }
  }
}

