.markdown-container {
  padding: 0 16px;

  @media (min-width: 1200px) {
    column-gap: 24px;
    display: grid;
    grid-template-areas:
      ". title toc"
      ". md    toc";
    grid-auto-columns: minmax(280px, 280px) minmax(0px, auto) minmax(280px, 280px);
    padding: 0;
  }

  .title {
    align-items: center;
    display: flex;
    flex: 1;
    grid-area: title;
    margin: 0 auto 30px;
    max-width: 720px;
    padding: 8px 0;
    width: 100%;

    h1 {
      color: #000000;
      font-size: 32px;
      line-height: 1.2;
    }

    a {
      align-items: center;
      color: #494949;
      display: inline-flex;
      margin-top: 0;
      margin-left: auto;

      &:hover {
        color: var(--primary);
      }

      svg {
        height: 18px;
        width: 18px;
      }
    }
  }
}

.markdown {
  grid-area: md;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  width: 100%;
  // padding: 0 calc(280px + 24px);

  * {
    margin-bottom: 0;

    + * {
      margin-top: 16px;
    }
  }

  .video {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;

    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;

      iframe {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  .snippet {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    display: flex;
    min-height: 64px;
    padding: 12px 24px;

    &.caution {
      background-color: #fffbe7;
    }

    &.info {
      background-color: #eaf5ff;
    }

    &.notice {
      background-color: #eaf7e2;
    }

    &.warning {
      background-color: #fff2f2;
    }

    svg {
      margin-right: 16px;
      min-width: 24px;
    }

    > div {
      margin-top: 0;

      > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;

    &:hover {
      .header-anchor {
        opacity: 1;
      }
    }

    &:focus-visible {
      outline: none;
    }

    .header-anchor {
      color: #494949;
      opacity: 0;
      left: -22px;
      position: absolute;

      svg {
        height: 18px;
        width: 18px;
      }
    }
  }

  h2 {
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  h3 {
    font-size: 24px;
  }

  a {
    color: #0068c3;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    border: 1px solid #999999;
    padding: 16px;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    padding-left: 28px;

    li + li {
      margin-top: 8px;
    }
  }

  .table {
    overflow-x: auto;
  }

  table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;

    tr {
      border-bottom: 1px solid #bdbdbd;
    }

    th {
      padding: 12px 0;
      text-align: left;
      text-transform: uppercase;

      + th {
        padding-left: 12px;
      }
    }

    td {
      padding: 24px 0;

      + td {
        padding-left: 12px;
      }
    }
  }

  code {
    background: #424242;
    border-radius: 4px;
    color: #eeeeee;
    padding: 4px 8px;
  }

  pre {
    code {
      &.hljs {
        padding: 16px;
      }
    }
  }
}

