<div class="web-site-width">
  <h1>Devolutions Product Documentation</h1>
  <p>Need help? Here is the complete coverage for all Devolutions Products, Add-ons and Companion Tools.</p>

  <nav class="grid-list">
    {% for product, item in project %}
      <a href="{{ item.url }}">
        <img src="{{ item.icon }}">
        {{ item.formattedName | safe }}
      </a>
    {% endfor %}
  </nav>
</div>