@use 'variables' as *;
@use 'mixins/transition' as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  color: #494949;
  font-family: $font-family-sans-serif;
  font-size: var(--font-size);
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scroll-margin-top: calc(72px + 24px);
}

a {
  @include transition(all 0.25s ease-in-out);
  text-decoration: none;
}

button {
  @include transition(all 0.25s ease-in-out);
}

p {
  margin-top: 0;
  margin-bottom: 16px;
  max-width: 100%; // IE Fix
}

svg {
  fill: currentColor;
  height: 24px;
  width: 24px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #000000;
  font-weight: bold;
  letter-spacing: -0.03em;
  max-width: 100%; // IE Fix
}

.web-site-width {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1200px + 48px);
  padding-left: 24px;
  padding-right: 24px;
  transition: padding 0.4s ease;
  width: 100%;

  @media (max-width: 719px) {
    max-width: calc(1200px + 32px);
    padding-left: 16px;
    padding-right: 16px;
  }
}