---
title: Remote Desktop Manager
---

<div class="dwd-header-media">
  <div class="dwd-header-media-content">
    <div class="web-site-width">
      <div id="algolia-autocomplete" data-index="docs-{{ lang }}" data-placeholder="What are you looking for?"></div>
    </div>
  </div>
  <div class="dwd-photo-parallax bg-support"></div>
</div>

<div class="dwd-section">
  <div class="web-site-width">
    <h1>{{ title }}</h1>

    <nav class="grid-list center">
      <a href="windows/">
        {# <img src="{{ item.icon }}"> #}
        <span>Windows</span>
      </a>
      <a href="mac/">
        {# <img src="{{ item.icon }}"> #}
        <span>macOS</span>
      </a>
    </nav>
  </div>
</div>